<!-- partials/main.html -->
  <div class="main">
    <ul>
      <li class="col-xs-4"><a ui-sref="event.koreaburn2015">
        <div class="img-overlay">
          <img src="images/thumb-1.png" class="img-responsive"/>
          <div class="project-overlay"><h3>Event</h3></div>
        </div>
      </a></li>
      <li class="col-xs-4"><a ui-sref="culture">
        <div class="img-overlay">
          <img src="images/thumb-2.png" class="img-responsive"/>
          <div class="project-overlay"><h3>Culture</h3></div>
        </div>
      </a></li>
      <li class="col-xs-4"><a ui-sref="info">
        <div class="img-overlay">
          <img src="images/thumb-3.png" class="img-responsive"/>
          <div class="project-overlay"><h3>Info</h3></div>
        </div>
      </a></li>
    </ul>
  </div>

<div id="burn-intro" class="main-section">
</div>


<a ui-sref="main.list">Show List</a>

<div ui-view></div>
