<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Amatic+SC:700|Francois+One|Merriweather:700' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="burnApp" ng-controller="AppCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <!--contain body of site-->

    <!-- Aside and Navigation -->
    <div class="aside" ng-class="{'menu-reveal': aside}">
      <!-- Close Button for the Aside -->
      <span class="glyphicon glyphicon-remove" ng-click="toggleAside()"></span>
      
      <!-- Navigation -->
      <ul class="aside__nav">
        <li>
          <a ng-click="closeAside()" ui-sref="event.koreaburn2015">
            <div class="img-overlay">
              <img src="images/thumb-1.png" class="img-responsive"/>
              <div class="project-overlay"><h3>Event</h3></div>
            </div>
          </a>
        </li>

        <li>
          <a ng-click="closeAside()" ui-sref="culture">
            <div class="img-overlay">
              <img src="images/thumb-2.png" class="img-responsive"/>
              <div class="project-overlay"><h3>Culture</h3></div>
            </div>
          </a>
        </li>

        <li>
          <a ng-click="closeAside()" ui-sref="info">
            <div class="img-overlay">
              <img src="images/thumb-3.png" class="img-responsive"/>
              <div class="project-overlay"><h3>Info</h3></div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <!-- End of Aside -->

    <div class="body" ng-class="{'menu-reveal': aside}">
      <div class="content-area">
        <div class="content-wrap">
          <div class="header">
            <!-- Menu Button -->
            <div class="menu-logo" ng-click="toggleAside()">
              <img src="images/masthead-1.png" alt="Korea Burn Symbol"/>
              <span class="glyphicon glyphicon-menu-hamburger"></span>
            </div>
            
            <a ui-sref="main">
              <div class="masthead-img parent">
                <h1 class="child">Korea Burn</h1>
                <h2 class="child hidden-xs">Some inspiring quote here</h2>
              </div>
            </a>
          </div>

          <!-- Landing Blurb -->
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="land-blurb">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem culpa at officiis dolorem repellendus facere.
            </div>
          </div>

          <div class="container">
            <div ui-view=""></div>
          </div>
          <div class="footer">
            <div class="container">
              <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/culture.js"></script>
    <script src="scripts/controllers/info.js"></script>
    <script src="scripts/controllers/event.js"></script>
    <!-- endbuild -->
</body>
</html>
